POSTGRES_DB=ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=******
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DSN=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_LISTEN_PORT=80

JWTSECRET=topsecretkey

REVIEW_SVC=review:50070
USER_SVC=user:50075
ITEM_SVC=item:50080
FAVORITE_SVC=favorite:50085
CATEGORY_SVC=category:50090